In [173]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import warnings
import numpy as np
import datetime
import math

In [3]:
gsw_09 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2009.csv')
gsw_10 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2010.csv')
gsw_11 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2011.csv')
gsw_12 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2012.csv')
gsw_13 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2013.csv')
gsw_14 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2014.csv')
gsw_15 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2015.csv')
gsw_16 = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_GSW_2016.csv')

In [4]:
def water_ind(val):
    if val == 2:
        return 1
    else:
        return 0

def no_data_ind(val):
    if val == 0:
        return 1
    else:
        return 0

def indicators(df_gsw):
    df_gsw['NO_DATA_IND'] = df_gsw['water'].apply(no_data_ind)
    df_gsw['WATER_IND'] = df_gsw['water'].apply(water_ind)

In [69]:
df_lst = [gsw_09,
          gsw_10,
          gsw_11,
          gsw_12,
          gsw_13,
          gsw_14,
          gsw_15,
          gsw_16]

for df in df_lst:
    indicators(df)
    df['HYDROPERIOD'] = np.nan
    df['MONTHS_NO_DATA'] = np.nan
    hloc = df.columns.get_loc('HYDROPERIOD')
    mloc = df.columns.get_loc('MONTHS_NO_DATA')
    
    for index, row in df.iterrows():
        lat = row['LAT']
        long = row['LONG']
        wID = row['Wetland_ID']
        
        df_subset = df[(df['LAT'] == lat) & 
            (df['LONG'] == long) & 
            (df['Wetland_ID'] == wID)]
    
        hydroperiod = 30.5 * sum(df_subset['WATER_IND'])
        mon_no_data = sum(df_subset['NO_DATA_IND'])
    
        df.iloc[index, hloc] = hydroperiod
        df.iloc[index, mloc] = mon_no_data

In [106]:
# Now concatenate the dataframes together to get one df containing 2009-2016 data
gsw_09_16 = pd.concat(df_lst)

# Re-index the concatenated df
GSW_09_16 = gsw_09_16.reset_index(drop = True)

In [107]:
GSW_09_16

,CELL_AREA_M2,DATE,LAT,LONG,Wetland_ID,water,NO_DATA_IND,WATER_IND,HYDROPERIOD,MONTHS_NO_DATA
0,611.212083,2009-01-01,47.105902,-99.143150,P11,0,1,0,0.0,6.0
1,611.212083,2009-01-01,47.105902,-99.142881,P11,0,1,0,0.0,6.0
2,611.208989,2009-01-01,47.106171,-99.143959,P11,0,1,0,152.5,7.0
3,611.208989,2009-01-01,47.106171,-99.143689,P11,0,1,0,152.5,7.0
4,611.208989,2009-01-01,47.106171,-99.143420,P11,0,1,0,61.0,6.0
...,...,...,...,...,...,...,...,...,...,...
120955,611.289438,2016-12-01,47.099164,-99.095450,T4,0,1,0,0.0,5.0
120956,611.289438,2016-12-01,47.099164,-99.095180,T4,0,1,0,0.0,5.0
120957,611.286344,2016-12-01,47.099434,-99.095719,T4,0,1,0,0.0,5.0
120958,611.286344,2016-12-01,47.099434,-99.095450,T4,0,1,0,0.0,5.0
120959,611.286344,2016-12-01,47.099434,-99.095180,T4,0,1,0,0.0,5.0

In [76]:
gsw_13[(gsw_13['LAT'] == 47.10617127929803) & 
        (gsw_13['LONG'] == -99.14368922730222)]

,CELL_AREA_M2,DATE,LAT,LONG,Wetland_ID,water,NO_DATA_IND,WATER_IND,HYDROPERIOD,MONTHS_NO_DATA
3,611.208989,2013-01-01,47.106171,-99.143689,P11,0,1,0,183.0,6.0
1263,611.208989,2013-02-01,47.106171,-99.143689,P11,0,1,0,183.0,6.0
2523,611.208989,2013-03-01,47.106171,-99.143689,P11,0,1,0,183.0,6.0
3783,611.208989,2013-04-01,47.106171,-99.143689,P11,0,1,0,183.0,6.0
5043,611.208989,2013-05-01,47.106171,-99.143689,P11,2,0,1,183.0,6.0
6303,611.208989,2013-06-01,47.106171,-99.143689,P11,2,0,1,183.0,6.0
7563,611.208989,2013-07-01,47.106171,-99.143689,P11,2,0,1,183.0,6.0
8823,611.208989,2013-08-01,47.106171,-99.143689,P11,2,0,1,183.0,6.0
10083,611.208989,2013-09-01,47.106171,-99.143689,P11,2,0,1,183.0,6.0
11343,611.208989,2013-10-01,47.106171,-99.143689,P11,2,0,1,183.0,6.0
12603,611.208989,2013-11-01,47.106171,-99.143689,P11,0,1,0,183.0,6.0
13863,611.208989,2013-12-01,47.106171,-99.143689,P11,0,1,0,183.0,6.0

In [75]:
gsw_13['LONG'][3]

np.float64(-99.14368922730222)

In [9]:
dates = gsw_09['DATE'].unique()

In [30]:
gsw_09['LAT'][7237]

np.float64(47.096469474278514)

In [31]:
gsw_09[(gsw_09['LAT'] == 47.096469474278514) & 
        (gsw_09['LONG'] == -99.09706666321692)]

,CELL_AREA_M2,DATE,LAT,LONG,Wetland_ID,water,NO_DATA_IND,WATER_IND,HYDROPERIOD
937,611.320378,2009-01-01,47.096469,-99.097067,P6,0,1,0,NaN
2197,611.320378,2009-02-01,47.096469,-99.097067,P6,0,1,0,NaN
3457,611.320378,2009-03-01,47.096469,-99.097067,P6,0,1,0,NaN
4717,611.320378,2009-04-01,47.096469,-99.097067,P6,0,1,0,NaN
5977,611.320378,2009-05-01,47.096469,-99.097067,P6,2,0,1,NaN
7237,611.320378,2009-06-01,47.096469,-99.097067,P6,2,0,1,NaN
8497,611.320378,2009-07-01,47.096469,-99.097067,P6,1,0,0,NaN
9757,611.320378,2009-08-01,47.096469,-99.097067,P6,0,1,0,NaN
11017,611.320378,2009-09-01,47.096469,-99.097067,P6,2,0,1,NaN
12277,611.320378,2009-10-01,47.096469,-99.097067,P6,2,0,1,NaN
13537,611.320378,2009-11-01,47.096469,-99.097067,P6,0,1,0,NaN
14797,611.320378,2009-12-01,47.096469,-99.097067,P6,0,1,0,NaN

In [32]:
sum(gsw_09[(gsw_09['LAT'] == 47.096469474278514) & 
        (gsw_09['LONG'] == -99.09706666321692)]['WATER_IND'])

4

In [86]:
# Now add the NDVI data to the GSW dataframe
ndvi_03_12 = pd.read_csv('/Users/lauralayton/Downloads/Wetland_NDVI_2003_2012.csv')
ndvi_13_16 = pd.read_csv('/Users/lauralayton/Downloads/Wetland_NDVI_2013_2016.csv')

In [87]:
ndvi_03_12

,system:index,WETLANDID,imageId,mean,.geo
0,LE07_031027_20030112_0000000000000000000b,T8,2003-01-12T17:11:20.630,-0.015521,"{""type"":""MultiPoint"",""coordinates"":[]}"
1,LE07_031027_20030112_0000000000000000000c,T2,2003-01-12T17:11:20.630,-0.009017,"{""type"":""MultiPoint"",""coordinates"":[]}"
2,LE07_031027_20030112_0000000000000000000a,P3,2003-01-12T17:11:20.630,-0.008511,"{""type"":""MultiPoint"",""coordinates"":[]}"
3,LE07_031027_20030112_0000000000000000000e,T7,2003-01-12T17:11:20.630,-0.011753,"{""type"":""MultiPoint"",""coordinates"":[]}"
4,LE07_031027_20030112_00000000000000000009,T3,2003-01-12T17:11:20.630,-0.024988,"{""type"":""MultiPoint"",""coordinates"":[]}"
...,...,...,...,...,...
3930,LE07_032027_20121229_00000000000000000002,P2,2012-12-29T17:25:17.369,-0.025679,"{""type"":""MultiPoint"",""coordinates"":[]}"
3931,LE07_032027_20121229_0000000000000000000f,T5,2012-12-29T17:25:17.369,0.009568,"{""type"":""MultiPoint"",""coordinates"":[]}"
3932,LE07_032027_20121229_00000000000000000000,P11,2012-12-29T17:25:17.369,-0.124950,"{""type"":""MultiPoint"",""coordinates"":[]}"
3933,LE07_032027_20121229_00000000000000000006,P8,2012-12-29T17:25:17.369,-0.001796,"{""type"":""MultiPoint"",""coordinates"":[]}"
3934,LE07_032027_20121229_00000000000000000010,T4,2012-12-29T17:25:17.369,0.010784,"{""type"":""MultiPoint"",""coordinates"":[]}"

In [117]:
# Make date functions to create date objects
def convert(date_str):
    format = '%Y-%m-%d'
    datetime_str = datetime.datetime.strptime(date_str, format)

    return datetime_str


# function to extract the date string from the imageId column in the ndvi dataset
def extract_date(imageId_str):
    return imageId_str[0:10]

# Re-index the concatenated df
GSW_09_16 = gsw_09_16.reset_index(drop = True)

# make the date columns in each dataframe
GSW_09_16['DATE'] = GSW_09_16['DATE'].apply(convert)
ndvi_03_12['DATE'] = ndvi_03_12['imageId'].apply(extract_date)
ndvi_13_16['DATE'] = ndvi_13_16['imageId'].apply(extract_date)
ndvi_03_12['DATE'] = ndvi_03_12['DATE'].apply(convert)
ndvi_13_16['DATE'] = ndvi_13_16['DATE'].apply(convert)

# now only extract NDVI values from 2009-2016
ndvi_09_12 = ndvi_03_12[(ndvi_03_12['DATE']).dt.year >= 2009]

# create a df containing NDVI from 2009 through 2016
ndvi_09_16 = pd.concat([ndvi_09_12, ndvi_13_16])

# Re-index the concatenated df
NDVI_09_16 = ndvi_09_16.reset_index(drop = True)

In [200]:
def determine_nearest_date(date, datelst):
    ind_nearest = 0
    min_diff = (date - datelst[ind_nearest]).days

    for i in range(len(datelst)):
        dt = datelst[i]
        diff = (date - dt).days
        if abs(diff) < abs(min_diff):
            min_diff = diff
            ind_nearest = i

    return [datelst[ind_nearest], min_diff]

In [202]:
# Add NDVI data to the GSW df based on date proximity
GSW_09_16['MEAN NDVI'] = np.nan

ndviloc = GSW_09_16.columns.get_loc('MEAN NDVI')

for index, row in GSW_09_16.iterrows():
    # extract the specific wetland and year that we want
    wID = row['Wetland_ID']
    date = row['DATE']
    year = date.year

    # subset the NDVI df for that wetland and year
    ndvi_subset = NDVI_09_16[(NDVI_09_16['WETLANDID'] == wID) & 
        (NDVI_09_16['DATE'].dt.year == year)]

    # determine the nearest NDVI observation date (relative to the date of the GSW observation)
    date_results = determine_nearest_date(date, ndvi_subset['DATE'].tolist())
    nearest_date = date_results[0]
    date_diff = date_results[1]
    # print(str(date_diff) + ", " + str(date) + ", " + str(nearest_date) + str(ndvi_subset['DATE'].tolist()))
    if abs(date_diff) <= 30:
        meanNDVI = ndvi_subset[ndvi_subset['DATE'] == nearest_date]['mean']
        GSW_09_16.iloc[index, ndviloc] = meanNDVI

In [192]:
NDVI_09_16

,system:index,WETLANDID,imageId,mean,.geo,DATE
0,LE07_031027_20090317_0000000000000000000b,T8,2009-03-17T17:13:07.409,-0.337928,"{""type"":""MultiPoint"",""coordinates"":[]}",2009-03-17
1,LE07_031027_20090317_0000000000000000000c,T2,2009-03-17T17:13:07.409,-0.326933,"{""type"":""MultiPoint"",""coordinates"":[]}",2009-03-17
2,LE07_031027_20090317_0000000000000000000a,P3,2009-03-17T17:13:07.409,-0.346415,"{""type"":""MultiPoint"",""coordinates"":[]}",2009-03-17
3,LE07_031027_20090317_0000000000000000000e,T7,2009-03-17T17:13:07.409,-0.320638,"{""type"":""MultiPoint"",""coordinates"":[]}",2009-03-17
4,LE07_031027_20090317_00000000000000000009,T3,2009-03-17T17:13:07.409,-0.328324,"{""type"":""MultiPoint"",""coordinates"":[]}",2009-03-17
...,...,...,...,...,...,...
3901,LC08_032027_20161114_00000000000000000002,P2,2016-11-14T17:29:27.779,0.067317,"{""type"":""MultiPoint"",""coordinates"":[]}",2016-11-14
3902,LC08_032027_20161114_0000000000000000000f,T5,2016-11-14T17:29:27.779,0.097798,"{""type"":""MultiPoint"",""coordinates"":[]}",2016-11-14
3903,LC08_032027_20161114_00000000000000000000,P11,2016-11-14T17:29:27.779,0.196738,"{""type"":""MultiPoint"",""coordinates"":[]}",2016-11-14
3904,LC08_032027_20161114_00000000000000000006,P8,2016-11-14T17:29:27.779,0.069078,"{""type"":""MultiPoint"",""coordinates"":[]}",2016-11-14
3905,LC08_032027_20161114_00000000000000000010,T4,2016-11-14T17:29:27.779,0.108315,"{""type"":""MultiPoint"",""coordinates"":[]}",2016-11-14

In [203]:
GSW_09_16

,CELL_AREA_M2,DATE,LAT,LONG,Wetland_ID,water,NO_DATA_IND,WATER_IND,HYDROPERIOD,MONTHS_NO_DATA,MEAN NDVI,WETLAND SIZE,WETLAND SIZE M2,Month,Size_m2_fld,AIR_TMIN_C,AIR_TMAX_C,AIR_TEMP_AVG_C,Year,MEAN NDVI LAG
0,611.212083,2009-01-01,47.105902,-99.143150,P11,0,1,0,0.0,6.0,NaN,NaN,NaN,1,611.212083,-24.41,-7.64,-16.025,2009,NaN
1,611.212083,2009-01-01,47.105902,-99.142881,P11,0,1,0,0.0,6.0,NaN,NaN,NaN,1,611.212083,-24.41,-7.64,-16.025,2009,NaN
2,611.208989,2009-01-01,47.106171,-99.143959,P11,0,1,0,152.5,7.0,NaN,NaN,NaN,1,611.208989,-24.41,-7.64,-16.025,2009,NaN
3,611.208989,2009-01-01,47.106171,-99.143689,P11,0,1,0,152.5,7.0,NaN,NaN,NaN,1,611.208989,-24.41,-7.64,-16.025,2009,NaN
4,611.208989,2009-01-01,47.106171,-99.143420,P11,0,1,0,61.0,6.0,NaN,NaN,NaN,1,611.208989,-24.41,-7.64,-16.025,2009,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120955,611.289438,2016-12-01,47.099164,-99.095450,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.289438,-3.69,-2.00,-2.845,2016,NaN
120956,611.289438,2016-12-01,47.099164,-99.095180,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.289438,-3.69,-2.00,-2.845,2016,NaN
120957,611.286344,2016-12-01,47.099434,-99.095719,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.286344,-3.69,-2.00,-2.845,2016,NaN
120958,611.286344,2016-12-01,47.099434,-99.095450,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.286344,-3.69,-2.00,-2.845,2016,NaN
120959,611.286344,2016-12-01,47.099434,-99.095180,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.286344,-3.69,-2.00,-2.845,2016,NaN

In [120]:
ndvi_subset = NDVI_09_16[(NDVI_09_16['WETLANDID'] == 'T8') & 
        (NDVI_09_16['DATE'].dt.year == 2009)]

In [ ]:
# Now add air temp tmin to the GSW_09_16 dataframe
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_FEB = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_MAR = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
tmin_09_JAN = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')

GSW_09_16['AIR_TEMP_tmin'] = np.nan


years = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]
months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']

for year in years:
    for month in months:
        file_name = '_Grid_Daymet_V4_' + str(year) + '_' + month + '.csv'
        filepath = '/Users/lauralayton/Downloads/output/Cottonwood/' + file_name
        df_temp = pd.read_csv(filepath)

        df_temp['DATE'] = df_temp['DATE'].apply(convert)

In [138]:
GSW_09_16['DATE'].unique()

<DatetimeArray>
['2009-01-01 00:00:00', '2009-02-01 00:00:00', '2009-03-01 00:00:00',
 '2009-04-01 00:00:00', '2009-05-01 00:00:00', '2009-06-01 00:00:00',
 '2009-07-01 00:00:00', '2009-08-01 00:00:00', '2009-09-01 00:00:00',
 '2009-10-01 00:00:00', '2009-11-01 00:00:00', '2009-12-01 00:00:00',
 '2010-01-01 00:00:00', '2010-02-01 00:00:00', '2010-03-01 00:00:00',
 '2010-04-01 00:00:00', '2010-05-01 00:00:00', '2010-06-01 00:00:00',
 '2010-07-01 00:00:00', '2010-08-01 00:00:00', '2010-09-01 00:00:00',
 '2010-10-01 00:00:00', '2010-11-01 00:00:00', '2010-12-01 00:00:00',
 '2011-01-01 00:00:00', '2011-02-01 00:00:00', '2011-03-01 00:00:00',
 '2011-04-01 00:00:00', '2011-05-01 00:00:00', '2011-06-01 00:00:00',
 '2011-07-01 00:00:00', '2011-08-01 00:00:00', '2011-09-01 00:00:00',
 '2011-10-01 00:00:00', '2011-11-01 00:00:00', '2011-12-01 00:00:00',
 '2012-01-01 00:00:00', '2012-02-01 00:00:00', '2012-03-01 00:00:00',
 '2012-04-01 00:00:00', '2012-05-01 00:00:00', '2012-06-01 00:00:00',
 '2012-07-01 00:00:00', '2012-08-01 00:00:00', '2012-09-01 00:00:00',
 '2012-10-01 00:00:00', '2012-11-01 00:00:00', '2012-12-01 00:00:00',
 '2013-01-01 00:00:00', '2013-02-01 00:00:00', '2013-03-01 00:00:00',
 '2013-04-01 00:00:00', '2013-05-01 00:00:00', '2013-06-01 00:00:00',
 '2013-07-01 00:00:00', '2013-08-01 00:00:00', '2013-09-01 00:00:00',
 '2013-10-01 00:00:00', '2013-11-01 00:00:00', '2013-12-01 00:00:00',
 '2014-01-01 00:00:00', '2014-02-01 00:00:00', '2014-03-01 00:00:00',
 '2014-04-01 00:00:00', '2014-05-01 00:00:00', '2014-06-01 00:00:00',
 '2014-07-01 00:00:00', '2014-08-01 00:00:00', '2014-09-01 00:00:00',
 '2014-10-01 00:00:00', '2014-11-01 00:00:00', '2014-12-01 00:00:00',
 '2015-01-01 00:00:00', '2015-02-01 00:00:00', '2015-03-01 00:00:00',
 '2015-04-01 00:00:00', '2015-05-01 00:00:00', '2015-06-01 00:00:00',
 '2015-07-01 00:00:00', '2015-08-01 00:00:00', '2015-09-01 00:00:00',
 '2015-10-01 00:00:00', '2015-11-01 00:00:00', '2015-12-01 00:00:00',
 '2016-01-01 00:00:00', '2016-02-01 00:00:00', '2016-03-01 00:00:00',
 '2016-04-01 00:00:00', '2016-05-01 00:00:00', '2016-06-01 00:00:00',
 '2016-07-01 00:00:00', '2016-08-01 00:00:00', '2016-09-01 00:00:00',
 '2016-10-01 00:00:00', '2016-11-01 00:00:00', '2016-12-01 00:00:00']
Length: 96, dtype: datetime64[ns]

In [139]:
GSW_09_16

,CELL_AREA_M2,DATE,LAT,LONG,Wetland_ID,water,NO_DATA_IND,WATER_IND,HYDROPERIOD,MONTHS_NO_DATA,MEAN NDVI
0,611.212083,2009-01-01,47.105902,-99.143150,P11,0,1,0,0.0,6.0,NaN
1,611.212083,2009-01-01,47.105902,-99.142881,P11,0,1,0,0.0,6.0,NaN
2,611.208989,2009-01-01,47.106171,-99.143959,P11,0,1,0,152.5,7.0,NaN
3,611.208989,2009-01-01,47.106171,-99.143689,P11,0,1,0,152.5,7.0,NaN
4,611.208989,2009-01-01,47.106171,-99.143420,P11,0,1,0,61.0,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
120955,611.289438,2016-12-01,47.099164,-99.095450,T4,0,1,0,0.0,5.0,-0.064105
120956,611.289438,2016-12-01,47.099164,-99.095180,T4,0,1,0,0.0,5.0,-0.064105
120957,611.286344,2016-12-01,47.099434,-99.095719,T4,0,1,0,0.0,5.0,-0.064105
120958,611.286344,2016-12-01,47.099434,-99.095450,T4,0,1,0,0.0,5.0,-0.064105
120959,611.286344,2016-12-01,47.099434,-99.095180,T4,0,1,0,0.0,5.0,-0.064105

In [160]:
# create a wetland size column
GSW_09_16['WETLAND SIZE M2'] = np.nan

wetlands_included = GSW_09_16['Wetland_ID'].unique().tolist()
sizes = []

dates = GSW_09_16['DATE'].unique().tolist()

for wetland in wetlands_included:
    df_subset = GSW_09_16[(GSW_09_16['Wetland_ID'] == wetland) & (GSW_09_16['DATE'] == dates[0])]
    size = sum(df_subset['CELL_AREA_M2'])
    sizes.append([wetland, size])

In [161]:
sizes

[['P11', 292751.8508305268],
 ['P1', 72744.56629619183],
 ['P2', 68460.37927871748],
 ['P4', 66016.66649840168],
 ['P7', 53797.02243303297],
 ['P6', 51350.59618002477],
 ['P8', 35454.83693211176],
 ['T9', 28732.094898147257],
 ['T1', 28119.620475616022],
 ['T3', 16504.851965758204],
 ['P3', 13447.730260422864],
 ['T8', 12837.539211354531],
 ['T2', 11614.910830779612],
 ['T6', 4890.303131220866],
 ['T7', 6724.1219417542825],
 ['T5', 3056.4997904742695],
 ['T4', 3667.7273484336442]]

In [159]:
GSW_09_16['Wetland_ID'].unique()

array(['P11', 'P1', 'P2', 'P4', 'P7', 'P6', 'P8', 'T9', 'T1', 'T3', 'P3',
       'T8', 'T2', 'T6', 'T7', 'T5', 'T4'], dtype=object)

In [ ]:
# lol I should just do it by pixel so just using each pixel size
# duh

In [154]:
# Adding a Month column and Year column
GSW_09_16['Month'] = pd.to_datetime(GSW_09_16['DATE']).dt.month
GSW_09_16['Year'] = pd.to_datetime(GSW_09_16['DATE']).dt.year

In [145]:
GSW_09_16['Size_m2_fld'] = GSW_09_16['CELL_AREA_M2']
GSW_09_16['Hydroperiod_days_fld'] = GSW_09_16['HYDROPERIOD']

In [147]:
df_dates = GSW_09_16['DATE'].unique().tolist()

In [148]:
# okay now put the air temperature data on
file_ends = ['2009_JAN', '2009_FEB', '2009_MAR', '2009_APR', '2009_MAY', '2009_JUN',
            '2009_JUL', '2009_AUG', '2009_SEP', '2009_OCT', '2009_NOV', '2009_DEC',
            '2010_JAN', '2010_FEB', '2010_MAR', '2010_APR', '2010_MAY', '2010_JUN',
            '2010_JUL', '2010_AUG', '2010_SEP', '2010_OCT', '2010_NOV', '2010_DEC',
            '2011_JAN', '2011_FEB', '2011_MAR', '2011_APR', '2011_MAY', '2011_JUN',
            '2011_JUL', '2011_AUG', '2011_SEP', '2011_OCT', '2011_NOV', '2011_DEC',
            '2012_JAN', '2012_FEB', '2012_MAR', '2012_APR', '2012_MAY', '2012_JUN',
            '2012_JUL', '2012_AUG', '2012_SEP', '2012_OCT', '2012_NOV', '2012_DEC',
            '2013_JAN', '2013_FEB', '2013_MAR', '2013_APR', '2013_MAY', '2013_JUN',
            '2013_JUL', '2013_AUG', '2013_SEP', '2013_OCT', '2013_NOV', '2013_DEC',
            '2014_JAN', '2014_FEB', '2014_MAR', '2014_APR', '2014_MAY', '2014_JUN',
            '2014_JUL', '2014_AUG', '2014_SEP', '2014_OCT', '2014_NOV', '2014_DEC',
            '2015_JAN', '2015_FEB', '2015_MAR', '2015_APR', '2015_MAY', '2015_JUN',
            '2015_JUL', '2015_AUG', '2015_SEP', '2015_OCT', '2015_NOV', '2015_DEC',
            '2016_JAN', '2016_FEB', '2016_MAR', '2016_APR', '2016_MAY', '2016_JUN',
            '2016_JUL', '2016_AUG', '2016_SEP', '2016_OCT', '2016_NOV', '2016_DEC',]

# make a dataframe for the tmin values

df_air_tmin = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_2009_JAN.csv')
df_air_tmin['DATE'] = df_air_tmin['DATE'].apply(convert)
df_air_tmin  = df_air_tmin[df_air_tmin['DATE'].isin(df_dates)]


for i in range(len(file_ends)):
    file_end = file_ends[i]
    file_path = '/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_' + file_end + '.csv'
    df_temp = pd.read_csv(file_path)
    df_temp['DATE'] = df_temp['DATE'].apply(convert)
    df_temp = df_temp[df_temp['DATE'].isin(df_dates)]

    if i > 0:
        df_air_tmin = pd.concat([df_air_tmin, df_temp])

In [149]:
# make a dataframe for the tmax values

df_air_tmax = pd.read_csv('/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_tmax_2009_JAN.csv')
df_air_tmax['DATE'] = df_air_tmax['DATE'].apply(convert)
df_air_tmax  = df_air_tmax[df_air_tmax['DATE'].isin(df_dates)]


for i in range(len(file_ends)):
    file_end = file_ends[i]
    file_path = '/Users/lauralayton/Downloads/output/Cottonwood/_Grid_Daymet_V4_tmax_' + file_end + '.csv'
    df_temp = pd.read_csv(file_path)
    df_temp['DATE'] = df_temp['DATE'].apply(convert)
    df_temp = df_temp[df_temp['DATE'].isin(df_dates)]

    if i > 0:
        df_air_tmax = pd.concat([df_air_tmax, df_temp])

In [150]:
# now put the tmin and tmax columns onto the dataframe with all the other variables

GSW_09_16['AIR_TMIN_C'] = np.nan
GSW_09_16['AIR_TMAX_C'] = np.nan

tminloc = GSW_09_16.columns.get_loc('AIR_TMIN_C')
tmaxloc = GSW_09_16.columns.get_loc('AIR_TMAX_C')

for index, row in GSW_09_16.iterrows():
    wetland_ID = row['Wetland_ID']
    date = row['DATE']
    
    tmin_subset = df_air_tmin[(df_air_tmin['DATE'] == date) &
        (df_air_tmin['Wetland_ID'] == wetland_ID)]
    tmin_avg = np.mean(tmin_subset['tmin'])

    tmax_subset = df_air_tmax[(df_air_tmax['DATE'] == date) &
        (df_air_tmax['Wetland_ID'] == wetland_ID)]
    tmax_avg = np.mean(tmax_subset['tmax'].tolist())

    GSW_09_16.iloc[index, tminloc] = tmin_avg
    GSW_09_16.iloc[index, tmaxloc] = tmax_avg

In [152]:
# now create a column for the average air temp
GSW_09_16['AIR_TEMP_AVG_C'] = np.nan

avgloc = GSW_09_16.columns.get_loc('AIR_TEMP_AVG_C')

for index, row in GSW_09_16.iterrows():
    avg = (row['AIR_TMIN_C'] + row['AIR_TMAX_C'])/2

    GSW_09_16.iloc[index, avgloc] = avg

In [155]:
GSW_09_16

,CELL_AREA_M2,DATE,LAT,LONG,Wetland_ID,water,NO_DATA_IND,WATER_IND,HYDROPERIOD,MONTHS_NO_DATA,MEAN NDVI,WETLAND SIZE,WETLAND SIZE M2,Month,Size_m2_fld,AIR_TMIN_C,AIR_TMAX_C,AIR_TEMP_AVG_C,Year
0,611.212083,2009-01-01,47.105902,-99.143150,P11,0,1,0,0.0,6.0,NaN,NaN,NaN,1,611.212083,-24.41,-7.64,-16.025,2009
1,611.212083,2009-01-01,47.105902,-99.142881,P11,0,1,0,0.0,6.0,NaN,NaN,NaN,1,611.212083,-24.41,-7.64,-16.025,2009
2,611.208989,2009-01-01,47.106171,-99.143959,P11,0,1,0,152.5,7.0,NaN,NaN,NaN,1,611.208989,-24.41,-7.64,-16.025,2009
3,611.208989,2009-01-01,47.106171,-99.143689,P11,0,1,0,152.5,7.0,NaN,NaN,NaN,1,611.208989,-24.41,-7.64,-16.025,2009
4,611.208989,2009-01-01,47.106171,-99.143420,P11,0,1,0,61.0,6.0,NaN,NaN,NaN,1,611.208989,-24.41,-7.64,-16.025,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120955,611.289438,2016-12-01,47.099164,-99.095450,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.289438,-3.69,-2.00,-2.845,2016
120956,611.289438,2016-12-01,47.099164,-99.095180,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.289438,-3.69,-2.00,-2.845,2016
120957,611.286344,2016-12-01,47.099434,-99.095719,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.286344,-3.69,-2.00,-2.845,2016
120958,611.286344,2016-12-01,47.099434,-99.095450,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.286344,-3.69,-2.00,-2.845,2016
120959,611.286344,2016-12-01,47.099434,-99.095180,T4,0,1,0,0.0,5.0,-0.064105,NaN,NaN,12,611.286344,-3.69,-2.00,-2.845,2016

In [208]:
# establish NDVI lag
GSW_09_16['MEAN NDVI LAG'] = np.nan

ndvilagloc = GSW_09_16.columns.get_loc('MEAN NDVI LAG')

def month_lag(month):
    if month > 1:
        return month - 1
    else:
        return month

for index, row in GSW_09_16.iterrows():
    current_month = row['Month']
    lag_month = month_lag(current_month)
    wetland_ID = row['Wetland_ID']
    current_year = row['Year']
    df_subset = GSW_09_16[(GSW_09_16['Wetland_ID'] == wetland_ID) &
                            (GSW_09_16['Year'] == year) & 
                            (GSW_09_16['Month'] == lag_month)]

    possible_ndvi_lags = df_subset['MEAN NDVI'].unique().tolist()

    #if index % 1000 == 0:
         #print(index)
    
    # if abs(possible_ndvi_lags[0]) > 0:
    #    print(str(wetland_ID) + ": " + str(possible_ndvi_lags))
    if len(possible_ndvi_lags) > 1:
        print(possible_ndvi_lags)
        ndvilag = possible_ndvi_lags[0]
    else:
        ndvilag = possible_ndvi_lags[0]
    
    GSW_09_16.iloc[index, ndvilagloc] = ndvilag

In [163]:
GSW_09_16['MEAN NDVI LAG'].isna().sum()

np.int64(119700)

In [ ]:
NDVI_09_16

In [206]:
GSW_09_16['MEAN NDVI'].unique()

array([        nan, -0.32146937, -0.32737233, ..., -0.04160191,
       -0.0459547 , -0.06410535], shape=(1495,))

In [205]:
GSW_09_16['MEAN NDVI'].isna().sum()

np.int64(5129)

In [168]:
GSW_09_16['MEAN NDVI LAG'].unique()

array([        nan, -0.01007837, -0.01479761, -0.01531446, -0.01863678,
       -0.0137742 , -0.01291293, -0.00931475, -0.01143142, -0.01141699,
        0.00221276,  0.00704341, -0.00211511, -0.00282234,  0.00204455,
        0.14370697, -0.00172253,  0.00078694])

In [177]:
502 % 10

2

In [204]:
GSW_09_16['MEAN NDVI']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
120955   -0.064105
120956   -0.064105
120957   -0.064105
120958   -0.064105
120959   -0.064105
Name: MEAN NDVI, Length: 120960, dtype: float64

In [188]:
NDVI_09_16['DATE'].unique()

<DatetimeArray>
['2009-03-17 00:00:00', '2009-04-02 00:00:00', '2009-05-04 00:00:00',
 '2009-05-20 00:00:00', '2009-06-05 00:00:00', '2009-07-07 00:00:00',
 '2009-07-23 00:00:00', '2009-08-24 00:00:00', '2009-09-09 00:00:00',
 '2009-09-25 00:00:00',
 ...
 '2016-06-07 00:00:00', '2016-06-23 00:00:00', '2016-07-09 00:00:00',
 '2016-07-25 00:00:00', '2016-08-10 00:00:00', '2016-08-26 00:00:00',
 '2016-09-11 00:00:00', '2016-09-27 00:00:00', '2016-10-13 00:00:00',
 '2016-11-14 00:00:00']
Length: 260, dtype: datetime64[ns]

In [224]:
wetlands_and_sizes = [['P1', 58200.0],
 ['P3', 6100.0],
 ['P4', 91900.0],
 ['P6', 28000.0],
 ['P7', 30902.0],
 ['P8', 25100.0],
 ['T2', 5916.0],
 ['T3', 5500.0],
 ['T5', 2300.0],
 ['T6', 1600.0],
 ['T7', 4000.0],
 ['T8', 10300.0],
 ['T9', 11500.0]]

GSW_09_16['Size_m2_fld'] = np.nan


sizeloc = GSW_09_16.columns.get_loc('Size_m2_fld')
for index, row in GSW_09_16.iterrows():
    wID = row['Wetland_ID']

    for i in range(len(wetlands_and_sizes)):
        pair = wetlands_and_sizes[i]
        w = pair[0]
        size = pair[1]
        if w == wID:
            # print(pair)
            GSW_09_16.iloc[index, sizeloc] = size
            # print(GSW_09_16.iloc[index, sizeloc])

In [225]:
GSW_09_16[['Wetland_ID', 'Size_m2_fld']]

       Wetland_ID  Size_m2_fld
0             P11          NaN
1             P11          NaN
2             P11          NaN
3             P11          NaN
4             P11          NaN
...           ...          ...
120955         T4          NaN
120956         T4          NaN
120957         T4          NaN
120958         T4          NaN
120959         T4          NaN

[120960 rows x 2 columns]

In [226]:
GSW_09_16[GSW_09_16['Wetland_ID'] == 'T9']

,CELL_AREA_M2,DATE,LAT,LONG,Wetland_ID,water,NO_DATA_IND,WATER_IND,HYDROPERIOD,MONTHS_NO_DATA,MEAN NDVI,WETLAND SIZE,WETLAND SIZE M2,Month,Size_m2_fld,AIR_TMIN_C,AIR_TMAX_C,AIR_TEMP_AVG_C,Year,MEAN NDVI LAG
1048,611.329660,2009-01-01,47.095661,-99.092485,T9,0,1,0,0.0,6.0,NaN,NaN,NaN,1,11500.0,-24.75,-7.79,-16.270,2009,0.007574
1049,611.329660,2009-01-01,47.095661,-99.092216,T9,0,1,0,0.0,6.0,NaN,NaN,NaN,1,11500.0,-24.75,-7.79,-16.270,2009,0.007574
1050,611.329660,2009-01-01,47.095661,-99.091946,T9,0,1,0,0.0,6.0,NaN,NaN,NaN,1,11500.0,-24.75,-7.79,-16.270,2009,0.007574
1051,611.329660,2009-01-01,47.095661,-99.091677,T9,0,1,0,0.0,6.0,NaN,NaN,NaN,1,11500.0,-24.75,-7.79,-16.270,2009,0.007574
1052,611.326566,2009-01-01,47.095930,-99.092485,T9,0,1,0,0.0,6.0,NaN,NaN,NaN,1,11500.0,-24.75,-7.79,-16.270,2009,0.007574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120790,611.314190,2016-12-01,47.097008,-99.090868,T9,0,1,0,0.0,5.0,-0.04916,NaN,NaN,12,11500.0,-3.69,-2.00,-2.845,2016,0.177328
120791,611.314190,2016-12-01,47.097008,-99.090599,T9,0,1,0,0.0,5.0,-0.04916,NaN,NaN,12,11500.0,-3.69,-2.00,-2.845,2016,0.177328
120792,611.314190,2016-12-01,47.097008,-99.090329,T9,0,1,0,0.0,5.0,-0.04916,NaN,NaN,12,11500.0,-3.69,-2.00,-2.845,2016,0.177328
120793,611.311096,2016-12-01,47.097278,-99.091407,T9,0,1,0,0.0,5.0,-0.04916,NaN,NaN,12,11500.0,-3.69,-2.00,-2.845,2016,0.177328
120794,611.311096,2016-12-01,47.097278,-99.091138,T9,0,1,0,0.0,5.0,-0.04916,NaN,NaN,12,11500.0,-3.69,-2.00,-2.845,2016,0.177328

In [227]:
import os

In [228]:
base_dir = '/Users/lauralayton/Downloads/'

In [229]:
csv_path = os.path.join(base_dir, "GSW_Data.csv")
GSW_09_16.to_csv(csv_path, index=False)

In [243]:
GSW_09_16[(GSW_09_16['Wetland_ID'] == 'P4') & (GSW_09_16['Year'] == 2009)]['HYDROPERIOD'].value_counts()

HYDROPERIOD
0.0      660
152.5    348
122.0     84
61.0      84
30.5      72
91.5      36
183.0     12
Name: count, dtype: int64