In [2]:
import pandas as pd
import numpy as np
import datetime

In [65]:
df_gg = pd.read_csv('/Users/lauralayton/Downloads/greenhouse_gas.csv')

# NDVI_2003_2012 = pd.read_csv('/Users/lauralayton/Downloads/Wetland_NDVI_2003_2012.csv')

NDVI_2003_MAR2013 = pd.read_csv('/Users/lauralayton/Downloads/Wetland_NDVI_2003_MAR2013.csv')
NDVI_2013_2016 = pd.read_csv('/Users/lauralayton/Downloads/Wetland_NDVI_2013_2016.csv')

# concatenate into one NDVI data frame
# NDVI_2003_2016 = pd.concat([NDVI_2003_2012, NDVI_2013_2016], axis = 0)
NDVI_2003_2016 = pd.concat([NDVI_2003_MAR2013, NDVI_2013_2016], axis = 0)

# filter df_gg for only those wetlands with data also in the NDVI spreadsheet
df = df_gg[(df_gg['WETLAND_ID'].isin(NDVI_2003_2016['WETLANDID'].unique()))]

# now filter NDVI_2003_2016 for only wetland IDs also in df
NDVI_2003_16 = NDVI_2003_2016[NDVI_2003_2016['WETLANDID'].isin(df['WETLAND_ID'].unique())]

In [66]:
NDVI_2003_16

,system:index,WETLANDID,imageId,mean,.geo
0,LE07_031027_20030112_0000000000000000000b,T8,2003-01-12T17:11:20.630,-0.015521,"{""type"":""MultiPoint"",""coordinates"":[]}"
1,LE07_031027_20030112_0000000000000000000c,T2,2003-01-12T17:11:20.630,-0.009017,"{""type"":""MultiPoint"",""coordinates"":[]}"
2,LE07_031027_20030112_0000000000000000000a,P3,2003-01-12T17:11:20.630,-0.008511,"{""type"":""MultiPoint"",""coordinates"":[]}"
3,LE07_031027_20030112_0000000000000000000e,T7,2003-01-12T17:11:20.630,-0.011753,"{""type"":""MultiPoint"",""coordinates"":[]}"
4,LE07_031027_20030112_00000000000000000009,T3,2003-01-12T17:11:20.630,-0.024988,"{""type"":""MultiPoint"",""coordinates"":[]}"
...,...,...,...,...,...
2108,LC08_032027_20161114_00000000000000000005,P6,2016-11-14T17:29:27.779,0.064943,"{""type"":""MultiPoint"",""coordinates"":[]}"
2109,LC08_032027_20161114_00000000000000000004,P7,2016-11-14T17:29:27.779,0.067686,"{""type"":""MultiPoint"",""coordinates"":[]}"
2112,LC08_032027_20161114_0000000000000000000f,T5,2016-11-14T17:29:27.779,0.097798,"{""type"":""MultiPoint"",""coordinates"":[]}"
2113,LC08_032027_20161114_00000000000000000000,P11,2016-11-14T17:29:27.779,0.196738,"{""type"":""MultiPoint"",""coordinates"":[]}"
2114,LC08_032027_20161114_00000000000000000006,P8,2016-11-14T17:29:27.779,0.069078,"{""type"":""MultiPoint"",""coordinates"":[]}"

In [16]:
df

,WETLAND_ID,DATE,LAB_ID,TYPE,CHAMBER_ID,AIR_TEMP_C,SOIL_MOISTURE_PERCENT,SW_TEMP_C,WATER_DEPTH_CM,G_CO2_M2_HR,...,WFPS,SNOW_DEPTH_CM,VEG_HEIGHT,VC1,VC2,VC3,PHASE1,PHASE2,PHASE3,NPWRC_STUDY
38887,P1,18MAY2009,1.3,1,1,20.75,-9999.0,14.2,130.0,0.017151,...,100.000000,-9999.0,-9999.0,100.0,-9999.0,-9999.0,OW,NaN,NaN,CWL_2009
38888,P1,18MAY2009,2.3,1,2,20.75,48.0,14.1,106.0,0.027233,...,100.000000,-9999.0,-9999.0,100.0,-9999.0,-9999.0,OW,NaN,NaN,CWL_2009
38889,P1,18MAY2009,3.3,1,3,20.75,46.1,14.3,66.0,0.006289,...,100.000000,-9999.0,-9999.0,100.0,-9999.0,-9999.0,OW,NaN,NaN,CWL_2009
38890,P1,18MAY2009,4.3,1,4,20.75,42.6,14.4,30.0,0.019499,...,100.000000,-9999.0,-9999.0,50.0,50.0,-9999.0,DV,OW,NaN,CWL_2009
38891,P1,18MAY2009,5.3,1,5,20.75,33.4,15.0,0.0,0.203110,...,61.325935,-9999.0,-9999.0,100.0,-9999.0,-9999.0,BS,NaN,NaN,CWL_2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52169,T9,17NOV2016,42583.0,1,4,1.55,15.6,6.8,0.0,0.085169,...,22.058788,-9999.0,12.0,100.0,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009
52170,T9,17NOV2016,42584.0,1,5,1.55,33.6,6.6,0.0,0.122561,...,52.798592,-9999.0,19.0,100.0,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009
52171,T9,17NOV2016,42585.0,1,6,1.55,19.1,6.3,0.0,0.079381,...,38.678181,-9999.0,10.0,20.0,80.0,-9999.0,NE,DV,NaN,CWL_2009
52172,T9,17NOV2016,42586.0,1,7,1.55,20.8,5.7,0.0,0.078957,...,35.887664,-9999.0,11.0,100.0,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009
52173,T9,17NOV2016,42587.0,1,8,1.55,19.9,5.7,0.0,0.052816,...,38.215591,-9999.0,13.0,100.0,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009

In [67]:
pd.options.mode.chained_assignment = None  # default='warn'

# constructing the various date columns for both dataframes

# breaking the date into day, month, and year for both dataframes

def convert_gg_time_data(date_time):
    format = '%d%b%Y'
    datetime_str = datetime.datetime.strptime(date_time, format)

    return datetime_str

df['Date Object'] = df['DATE'].apply(convert_gg_time_data)
df['Date Object'] = pd.to_datetime(df['Date Object'])
df['Day'] = pd.to_datetime(df['Date Object']).dt.day
df['Month'] = pd.to_datetime(df['Date Object']).dt.month
df['Year'] = pd.to_datetime(df['Date Object']).dt.year


def make_datestr_ndvi(timestr):
    datestr = timestr[0:10]
    return datestr


NDVI_2003_16['Date String'] = NDVI_2003_16['imageId'].apply(make_datestr_ndvi)
NDVI_2003_16['Date Object'] = pd.to_datetime(NDVI_2003_16['Date String'])
NDVI_2003_16['Day'] = pd.to_datetime(NDVI_2003_16['Date Object']).dt.day
NDVI_2003_16['Month'] = pd.to_datetime(NDVI_2003_16['Date Object']).dt.month
NDVI_2003_16['Year'] = pd.to_datetime(NDVI_2003_16['Date Object']).dt.year

In [68]:
# now I suppose we toss out any years that don't match
# ok so spoilers, though df_gg has data from back to 2003, it only starts in 2009 for these wetlands apparently

NDVI_2009_16 = NDVI_2003_16[NDVI_2003_16['Year'].isin(df['Year'].unique())]

In [69]:
# now testing to see how I can match up the dates and NDVI values

count_not_in_NDVI = 0
count_in_NDVI = 0

for index, row in df.iterrows():
    year = row['Year']
    month = row['Month']
    day = row['Day']

    NDVI_subset = NDVI_2009_16[(NDVI_2009_16['Year'] == year) &
        (NDVI_2009_16['Month'] == month) & 
        (NDVI_2009_16['Day'] == day)]

    if len(NDVI_subset) >= 1:
        # print(str(year) + " " + str(month) + " " + str(day))
        count_in_NDVI += 1
    else:
        count_not_in_NDVI += 1


print("in NDVI: " + str(count_in_NDVI))
print("not in NDVI: " + str(count_not_in_NDVI))

in NDVI: 1319
not in NDVI: 10948

In [71]:
df.sort_values(by = ['Date Object'])

,WETLAND_ID,DATE,LAB_ID,TYPE,CHAMBER_ID,AIR_TEMP_C,SOIL_MOISTURE_PERCENT,SW_TEMP_C,WATER_DEPTH_CM,G_CO2_M2_HR,...,VC2,VC3,PHASE1,PHASE2,PHASE3,NPWRC_STUDY,Date Object,Day,Month,Year
38887,P1,18MAY2009,1.3,1,1,20.75,-9999.0,14.2,130.0,0.017151,...,-9999.0,-9999.0,OW,NaN,NaN,CWL_2009,2009-05-18,18,5,2009
39969,P11,18MAY2009,57.3,1,2,25.90,52.8,14.4,131.0,-0.004130,...,-9999.0,-9999.0,OW,NaN,NaN,CWL_2009,2009-05-18,18,5,2009
39970,P11,18MAY2009,58.3,1,3,25.90,48.0,14.4,82.0,-0.010881,...,-9999.0,-9999.0,OW,NaN,NaN,CWL_2009,2009-05-18,18,5,2009
39971,P11,18MAY2009,59.3,1,4,25.90,46.7,16.4,17.0,-0.009810,...,-9999.0,-9999.0,OW,NaN,NaN,CWL_2009,2009-05-18,18,5,2009
39972,P11,18MAY2009,60.3,1,5,25.90,22.0,11.6,0.0,0.128423,...,-9999.0,-9999.0,BS,NaN,NaN,CWL_2009,2009-05-18,18,5,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48117,T5,17NOV2016,42535.0,1,4,1.40,29.2,6.9,0.0,0.106831,...,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009,2016-11-17,17,11,2016
48116,T5,17NOV2016,42533.0,1,2,1.40,32.1,7.1,0.0,0.218836,...,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009,2016-11-17,17,11,2016
48115,T5,17NOV2016,42532.0,1,1,1.40,24.1,7.0,0.0,0.471769,...,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009,2016-11-17,17,11,2016
41842,P3,17NOV2016,42450.0,1,2,1.75,49.9,3.6,35.0,0.038542,...,50.0,-9999.0,OW,DV,NaN,CWL_2009,2016-11-17,17,11,2016
52173,T9,17NOV2016,42587.0,1,8,1.55,19.9,5.7,0.0,0.052816,...,-9999.0,-9999.0,DV,NaN,NaN,CWL_2009,2016-11-17,17,11,2016

In [72]:
NDVI_2009_16['Date Object']

1477   2009-03-17
1478   2009-03-17
1479   2009-03-17
1480   2009-03-17
1481   2009-03-17
          ...
2108   2016-11-14
2109   2016-11-14
2112   2016-11-14
2113   2016-11-14
2114   2016-11-14
Name: Date Object, Length: 3280, dtype: datetime64[ns]

In [84]:
def dates_within_tolerance(date1, date2, tolerance):
    difference_days = (date1 - date2).days
    if abs(difference_days) <= tolerance:
        return True
    else:
        return False

tolerance = 20

some_in_tol = True

for date1 in df['Date Object'].unique():
    # test if there are any dates in the NDVI data within the tolerance
    some_in_tol = False
    for date2 in NDVI_2009_16['Date Object'].unique():
        if some_in_tol:
            # print(date1, date2)
            continue
        else:
            some_in_tol = dates_within_tolerance(date1, date2, tolerance)
            
        
    if some_in_tol:
        continue
    else:
        print(date1)

2011-02-26 00:00:00
2012-10-15 00:00:00
2012-10-17 00:00:00

In [85]:
df['Date Object'].unique()

<DatetimeArray>
['2009-05-18 00:00:00', '2009-06-03 00:00:00', '2009-06-18 00:00:00',
 '2009-07-01 00:00:00', '2009-07-16 00:00:00', '2009-07-28 00:00:00',
 '2009-08-11 00:00:00', '2009-08-26 00:00:00', '2009-09-08 00:00:00',
 '2009-09-22 00:00:00',
 ...
 '2013-06-17 00:00:00', '2014-04-21 00:00:00', '2015-04-20 00:00:00',
 '2010-08-05 00:00:00', '2010-08-31 00:00:00', '2011-05-10 00:00:00',
 '2013-03-19 00:00:00', '2013-05-07 00:00:00', '2012-01-17 00:00:00',
 '2016-09-09 00:00:00']
Length: 498, dtype: datetime64[ns]

In [86]:
NDVI_2009_16['Date Object'].unique()

<DatetimeArray>
['2009-03-17 00:00:00', '2009-04-02 00:00:00', '2009-05-04 00:00:00',
 '2009-05-20 00:00:00', '2009-06-05 00:00:00', '2009-07-07 00:00:00',
 '2009-07-23 00:00:00', '2009-08-24 00:00:00', '2009-09-09 00:00:00',
 '2009-09-25 00:00:00',
 ...
 '2016-06-07 00:00:00', '2016-06-23 00:00:00', '2016-07-09 00:00:00',
 '2016-07-25 00:00:00', '2016-08-10 00:00:00', '2016-08-26 00:00:00',
 '2016-09-11 00:00:00', '2016-09-27 00:00:00', '2016-10-13 00:00:00',
 '2016-11-14 00:00:00']
Length: 265, dtype: datetime64[ns]

In [87]:
for row in NDVI_2009_16[NDVI_2009_16['Year'] == 2011]['Date Object']:
    print(row)

2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-02-03 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-08 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-04-24 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-05-26 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-11 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-06-27 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-07-29 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-08-14 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-01 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-10-17 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-02 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-11-18 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-04 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-12-20 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-01-25 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-01 00:00:00
2011-05-17 00:00:00
2011-05-17 00:00:00
2011-05-17 00:00:00
2011-05-17 00:00:00
2011-05-17 00:00:00
2011-05-17 00:00:00
2011-05-17 00:00:00
2011-05-17 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-02 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-06-18 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-04 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-07-20 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-05 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-08-21 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-06 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-09-22 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-08 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-10-24 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-09 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-11-25 00:00:00
2011-12-11 00:00:00
2011-12-11 00:00:00
2011-12-11 00:00:00
2011-12-11 00:00:00
2011-12-11 00:00:00
2011-12-11 00:00:00
2011-12-11 00:00:00
2011-12-11 00:00:00
2011-12-27 00:00:00
2011-12-27 00:00:00
2011-12-27 00:00:00
2011-12-27 00:00:00
2011-12-27 00:00:00
2011-12-27 00:00:00
2011-12-27 00:00:00

In [93]:
# okay now I must attach the NDVI values to the correct wetland and dates

def select_closest_date(date1, dateslst, tolerance):
    min_diff = 365
    idx = 0

    for i in range(len(dateslst)):
        date = dateslst[i]
        diff = abs((date1 - date).days)
        if diff < min_diff:
            min_diff = diff
            idx = i

    if min_diff > tolerance:
        print("ERRORRRRR")
        print(date1)
        print(dateslst[idx])
        print(min_diff)
    return dateslst[idx]

    

df['NDVI'] = np.nan

for index, row in df.iterrows():
    wetland_ID = row['WETLAND_ID']
    date = row['Date Object']
    NDVI_wetland_subset = NDVI_2009_16[NDVI_2009_16['WETLANDID'] == wetland_ID]

    if len(NDVI_wetland_subset) < 1:
        print("***************HELPPPPP*****************")
        # ok this doesn't seem to occur

    date_to_use = select_closest_date(date, NDVI_wetland_subset['Date Object'].values, tolerance)

    df.loc[index, 'NDVI'] = NDVI_wetland_subset[NDVI_wetland_subset['Date Object'] == date_to_use]['mean'].values[0]

ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-30 00:00:00
2012-11-20T00:00:00.000000000
21
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2012-10-31 00:00:00
2012-09-24T00:00:00.000000000
37
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2012-10-15 00:00:00
2012-09-24T00:00:00.000000000
21
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-02-26 00:00:00
2011-02-03T00:00:00.000000000
23
ERRORRRRR
2011-03-25 00:00:00
2011-04-24T00:00:00.000000000
30
ERRORRRRR
2011-03-25 00:00:00
2011-04-24T00:00:00.000000000
30
ERRORRRRR
2011-03-25 00:00:00
2011-04-24T00:00:00.000000000
30
ERRORRRRR
2011-03-25 00:00:00
2011-04-24T00:00:00.000000000
30
ERRORRRRR
2011-03-25 00:00:00
2011-04-24T00:00:00.000000000
30
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-17 00:00:00
2012-09-24T00:00:00.000000000
23
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-15 00:00:00
2012-09-17T00:00:00.000000000
28
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-29 00:00:00
2012-11-20T00:00:00.000000000
22
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27
ERRORRRRR
2012-10-15 00:00:00
2012-11-11T00:00:00.000000000
27

In [94]:
df['NDVI']

38887    0.060156
38888    0.060156
38889    0.060156
38890    0.060156
38891    0.060156
           ...
52169    0.099022
52170    0.099022
52171    0.099022
52172    0.099022
52173    0.099022
Name: NDVI, Length: 12267, dtype: float64

In [92]:
NDVI_wetland_subset[NDVI_wetland_subset['Date Object'] == date_to_use]['mean'].values[0]

np.float64(0.0990217013175595)

In [82]:
NDVI_2009_16[NDVI_2009_16['Year'] == 2011]['Date Object'].values

array(['2011-02-03T00:00:00.000000000', '2011-02-03T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-02-03T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-02-03T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-02-03T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-02-03T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-02-03T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-02-03T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2011-04-08T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2011-04-08T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2011-04-08T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2011-04-08T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2011-04-08T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2011-04-08T00:00:00.000000000',
       '2011-04-08T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-04-24T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-04-24T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-04-24T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-04-24T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-04-24T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-04-24T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-05-26T00:00:00.000000000', '2011-05-26T00:00:00.000000000',
       '2011-05-26T00:00:00.000000000', '2011-05-26T00:00:00.000000000',
       '2011-05-26T00:00:00.000000000', '2011-05-26T00:00:00.000000000',
       '2011-05-26T00:00:00.000000000', '2011-05-26T00:00:00.000000000',
       '2011-05-26T00:00:00.000000000', '2011-05-26T00:00:00.000000000',
       '2011-05-26T00:00:00.000000000', '2011-05-26T00:00:00.000000000',
       '2011-05-26T00:00:00.000000000', '2011-06-11T00:00:00.000000000',
       '2011-06-11T00:00:00.000000000', '2011-06-11T00:00:00.000000000',
       '2011-06-11T00:00:00.000000000', '2011-06-11T00:00:00.000000000',
       '2011-06-11T00:00:00.000000000', '2011-06-11T00:00:00.000000000',
       '2011-06-11T00:00:00.000000000', '2011-06-11T00:00:00.000000000',
       '2011-06-11T00:00:00.000000000', '2011-06-11T00:00:00.000000000',
       '2011-06-11T00:00:00.000000000', '2011-06-11T00:00:00.000000000',
       '2011-06-11T00:00:00.000000000', '2011-06-27T00:00:00.000000000',
       '2011-06-27T00:00:00.000000000', '2011-06-27T00:00:00.000000000',
       '2011-06-27T00:00:00.000000000', '2011-06-27T00:00:00.000000000',
       '2011-06-27T00:00:00.000000000', '2011-06-27T00:00:00.000000000',
       '2011-06-27T00:00:00.000000000', '2011-06-27T00:00:00.000000000',
       '2011-06-27T00:00:00.000000000', '2011-06-27T00:00:00.000000000',
       '2011-06-27T00:00:00.000000000', '2011-06-27T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-07-29T00:00:00.000000000', '2011-07-29T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-08-14T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-08-14T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-08-14T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-08-14T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-08-14T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-08-14T00:00:00.000000000',
       '2011-08-14T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-10-17T00:00:00.000000000',
       '2011-10-17T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-02T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-02T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-02T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-02T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-02T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-02T00:00:00.000000000', '2011-11-02T00:00:00.000000000',
       '2011-11-18T00:00:00.000000000', '2011-11-18T00:00:00.000000000',
       '2011-11-18T00:00:00.000000000', '2011-11-18T00:00:00.000000000',
       '2011-11-18T00:00:00.000000000', '2011-11-18T00:00:00.000000000',
       '2011-11-18T00:00:00.000000000', '2011-11-18T00:00:00.000000000',
       '2011-11-18T00:00:00.000000000', '2011-11-18T00:00:00.000000000',
       '2011-11-18T00:00:00.000000000', '2011-11-18T00:00:00.000000000',
       '2011-11-18T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-04T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-04T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-04T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-04T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-04T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-04T00:00:00.000000000', '2011-12-04T00:00:00.000000000',
       '2011-12-04T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-12-20T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-12-20T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-12-20T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-12-20T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-12-20T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-12-20T00:00:00.000000000', '2011-12-20T00:00:00.000000000',
       '2011-01-25T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '2011-01-25T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '2011-01-25T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '2011-01-25T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '2011-01-25T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-05-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-05-17T00:00:00.000000000',
       '2011-05-17T00:00:00.000000000', '2011-05-17T00:00:00.000000000',
       '2011-05-17T00:00:00.000000000', '2011-05-17T00:00:00.000000000',
       '2011-05-17T00:00:00.000000000', '2011-05-17T00:00:00.000000000',
       '2011-05-17T00:00:00.000000000', '2011-06-02T00:00:00.000000000',
       '2011-06-02T00:00:00.000000000', '2011-06-02T00:00:00.000000000',
       '2011-06-02T00:00:00.000000000', '2011-06-02T00:00:00.000000000',
       '2011-06-02T00:00:00.000000000', '2011-06-02T00:00:00.000000000',
       '2011-06-02T00:00:00.000000000', '2011-06-02T00:00:00.000000000',
       '2011-06-02T00:00:00.000000000', '2011-06-02T00:00:00.000000000',
       '2011-06-02T00:00:00.000000000', '2011-06-18T00:00:00.000000000',
       '2011-06-18T00:00:00.000000000', '2011-06-18T00:00:00.000000000',
       '2011-06-18T00:00:00.000000000', '2011-06-18T00:00:00.000000000',
       '2011-06-18T00:00:00.000000000', '2011-06-18T00:00:00.000000000',
       '2011-06-18T00:00:00.000000000', '2011-06-18T00:00:00.000000000',
       '2011-06-18T00:00:00.000000000', '2011-06-18T00:00:00.000000000',
       '2011-07-04T00:00:00.000000000', '2011-07-04T00:00:00.000000000',
       '2011-07-04T00:00:00.000000000', '2011-07-04T00:00:00.000000000',
       '2011-07-04T00:00:00.000000000', '2011-07-04T00:00:00.000000000',
       '2011-07-04T00:00:00.000000000', '2011-07-04T00:00:00.000000000',
       '2011-07-04T00:00:00.000000000', '2011-07-04T00:00:00.000000000',
       '2011-07-04T00:00:00.000000000', '2011-07-04T00:00:00.000000000',
       '2011-07-04T00:00:00.000000000', '2011-07-20T00:00:00.000000000',
       '2011-07-20T00:00:00.000000000', '2011-07-20T00:00:00.000000000',
       '2011-07-20T00:00:00.000000000', '2011-07-20T00:00:00.000000000',
       '2011-07-20T00:00:00.000000000', '2011-07-20T00:00:00.000000000',
       '2011-07-20T00:00:00.000000000', '2011-07-20T00:00:00.000000000',
       '2011-07-20T00:00:00.000000000', '2011-08-05T00:00:00.000000000',
       '2011-08-05T00:00:00.000000000', '2011-08-05T00:00:00.000000000',
       '2011-08-05T00:00:00.000000000', '2011-08-05T00:00:00.000000000',
       '2011-08-05T00:00:00.000000000', '2011-08-05T00:00:00.000000000',
       '2011-08-05T00:00:00.000000000', '2011-08-05T00:00:00.000000000',
       '2011-08-05T00:00:00.000000000', '2011-08-21T00:00:00.000000000',
       '2011-08-21T00:00:00.000000000', '2011-08-21T00:00:00.000000000',
       '2011-08-21T00:00:00.000000000', '2011-08-21T00:00:00.000000000',
       '2011-08-21T00:00:00.000000000', '2011-08-21T00:00:00.000000000',
       '2011-08-21T00:00:00.000000000', '2011-08-21T00:00:00.000000000',
       '2011-08-21T00:00:00.000000000', '2011-09-06T00:00:00.000000000',
       '2011-09-06T00:00:00.000000000', '2011-09-06T00:00:00.000000000',
       '2011-09-06T00:00:00.000000000', '2011-09-06T00:00:00.000000000',
       '2011-09-06T00:00:00.000000000', '2011-09-06T00:00:00.000000000',
       '2011-09-06T00:00:00.000000000', '2011-09-06T00:00:00.000000000',
       '2011-09-06T00:00:00.000000000', '2011-09-22T00:00:00.000000000',
       '2011-09-22T00:00:00.000000000', '2011-09-22T00:00:00.000000000',
       '2011-09-22T00:00:00.000000000', '2011-09-22T00:00:00.000000000',
       '2011-09-22T00:00:00.000000000', '2011-09-22T00:00:00.000000000',
       '2011-09-22T00:00:00.000000000', '2011-09-22T00:00:00.000000000',
       '2011-10-08T00:00:00.000000000', '2011-10-08T00:00:00.000000000',
       '2011-10-08T00:00:00.000000000', '2011-10-08T00:00:00.000000000',
       '2011-10-08T00:00:00.000000000', '2011-10-08T00:00:00.000000000',
       '2011-10-08T00:00:00.000000000', '2011-10-08T00:00:00.000000000',
       '2011-10-08T00:00:00.000000000', '2011-10-08T00:00:00.000000000',
       '2011-10-08T00:00:00.000000000', '2011-10-08T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-10-24T00:00:00.000000000', '2011-10-24T00:00:00.000000000',
       '2011-11-09T00:00:00.000000000', '2011-11-09T00:00:00.000000000',
       '2011-11-09T00:00:00.000000000', '2011-11-09T00:00:00.000000000',
       '2011-11-09T00:00:00.000000000', '2011-11-09T00:00:00.000000000',
       '2011-11-09T00:00:00.000000000', '2011-11-09T00:00:00.000000000',
       '2011-11-09T00:00:00.000000000', '2011-11-25T00:00:00.000000000',
       '2011-11-25T00:00:00.000000000', '2011-11-25T00:00:00.000000000',
       '2011-11-25T00:00:00.000000000', '2011-11-25T00:00:00.000000000',
       '2011-11-25T00:00:00.000000000', '2011-11-25T00:00:00.000000000',
       '2011-11-25T00:00:00.000000000', '2011-11-25T00:00:00.000000000',
       '2011-12-11T00:00:00.000000000', '2011-12-11T00:00:00.000000000',
       '2011-12-11T00:00:00.000000000', '2011-12-11T00:00:00.000000000',
       '2011-12-11T00:00:00.000000000', '2011-12-11T00:00:00.000000000',
       '2011-12-11T00:00:00.000000000', '2011-12-11T00:00:00.000000000',
       '2011-12-27T00:00:00.000000000', '2011-12-27T00:00:00.000000000',
       '2011-12-27T00:00:00.000000000', '2011-12-27T00:00:00.000000000',
       '2011-12-27T00:00:00.000000000', '2011-12-27T00:00:00.000000000',
       '2011-12-27T00:00:00.000000000'], dtype='datetime64[ns]')